@import url('https://fonts.googleapis.com/css2?family=Homemade Apple&display=swap');
.marketplace{
	font-family:Homemade Apple;
	font-weight:400;
	margin-left: 2%;
	margin-top: 20px;
	font-size: 20px;
}

.upperbody{
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	border-radius:50px;
}
.welcome{
	font-size:37px;
	font-weight:bold;
	font-family: Arial, sans-serif;
	margin-top: 11.2%;
}
.details{
	font-size:17.7px;
	font-weight:450;
	margin-top:-10px;
	font-family: 'Circular Std';
}
.email{
	border:0;
	border-bottom: 1px solid black;
	outline: 1;
	margin-top:50px;
	width:39%;
	font-family: 'Circular Std';
	font-size: 15.8px;
}

.password{
	border:0;
	border-bottom: 1px solid black;
	outline: 1;
	margin-top:50px;
	width:39%;
	font-family: 'Circular Std';
	font-size: 15.8px;
}

.welcomebox{
	text-align:center;
	padding: 60px 0;
}

.checkbox{
	border:0;
	border-bottom: 1px solid black;
	outline: 1;
	margin-top:50px;
	width:25px;
	margin-left:-7px;
}
.imghalf{
	right: 0;
}
.checklabel{
	color:grey;
	font-family: 'Circular Std';
	font-size: 15.8px;
	font-weight: normal;
}
.structure{
	right: 0;
	height: 100%;
  	width: 50%;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	overflow-x: hidden;
  	padding-top: 0px;
  	border-top-left-radius:25px;
}
.forgot{
	display:inline;
	margin-left:9.9%;
	color:grey;
	font-family: 'Circular Std';
	font-size: 15.8px;
	font-weight: normal;
}
.h4txt{
	font-weight:2;
	margin-top:25px;
	color:grey;
	font-family: 'Circular Std';
	font-size: 15.8px;
	font-weight: normal;
}
.h4txt a{
	margin-left:4%;
	text-decoration:none;
	color:#7CB9E8
}
.submit{
	margin-top:50px;
	width:39.5%;
	height:30px;
	background-color:black;
	color:white;
	border-radius:20px
}
